<div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">รายละเอียดคณะกรรมการศูนย์ยุติธรรมชุมชน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<form (ngSubmit)="onSubmitNewComj(formComj)" #formComj="ngForm" >
      <div class="modal-body">
        <div class="col-md-12" style="padding-top:12px; ">
                    <div class="row" >
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <label>รหัสคณะกรรมการศูนย์</label>
                                <input type="text"  [(ngModel)]="txtComjNo" name="txtComjNo" class="form-control"   
                                #localComjNo="ngModel"
                                [ngClass] = "{'is-invalid' : localComjNo.errors && localComjNo.touched}"
                                required>
                                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                <div class="invalid-feedback">โปรดระบุรหัสคณะกรรมการศูนย์</div>
                            </div>
                        </div>   
                       
                    </div>
                    <div class="row" >
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <label>ชื่อ-นามสกุล</label>
                                <input type="text" [(ngModel)]="txtComjFullName" name="txtComjFullName" class="form-control"  
                                #localComjFullName="ngModel" 
                                [ngClass] = "{'is-invalid' : localComjFullName.errors && localComjFullName.touched}"
                                required
                                >
                                <div class="invalid-feedback">โปรดระบุ ชื่อ-นามสกุล</div>
                            </div>                                    
                        </div>
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <label>ตำแหน่ง</label>
                                <input type="text" [(ngModel)]="txtComjPosition" name="txtComjPosition"  class="form-control" 
                                #localComjPosition="ngModel" 
                                [ngClass] = "{'is-invalid' : localComjPosition.errors && localComjPosition.touched}"
                                required
                                >
                                <div class="invalid-feedback">โปรดระบุตำแหน่ง</div>
                            </div>                                    
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <label>จังหวัด</label>
                               <!-- <app-ddl-divn></app-ddl-divn>-->
                                <select class="form-control" [(ngModel)]="selectComjDivnId" name="selectComjDivnId" id="selectComjDivnId" 
                                #localDivnId="ngModel" 
                                [ngClass] = "{'is-invalid' : localDivnId.errors && localDivnId.touched}"
                                pattern="[^0]+"
                                >
                                    <option  [value]="0">เลือกทั้งหมด</option>
                                    <option  *ngFor="let divn of divnList" [value]="divn[0]">
                                        {{divn[1]}}
                                    </option>
                            </select>
                            <div class="invalid-feedback">โปรดระบุจังหวัด</div>
                            </div>                                    
                        </div>
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <label >ศูนย์ยุติธรรมชุมชน</label>
                                <input type="text"  class="form-control" [(ngModel)]="txtComjCenterName" name="txtComjCenterName" 
                                #localComjCenterName="ngModel" 
                                [ngClass] = "{'is-invalid' : localComjCenterName.errors && localComjCenterName.touched}"
                                required
                                >
                                <div class="invalid-feedback">โปรดระบุศูนย์ยุติธรรมชุมชน</div>
                            </div>                                    
                        </div>
                    </div>
                    <div class="row" >
                      <div class="col-md-6"  >
                        <div class="form-group">
                            <label for="exampleInputEmail1">ออกบัตรโดย</label>
                            <input type="text"  class="form-control"  [(ngModel)]="txtRegCardBy" name="txtRegCardBy" aria-describedby="emailHelp" placeholder="">
                        </div>                                    
                    </div>
                      <div class="col-md-6"  >
                          <div class="form-group">
                              <label for="exampleInputEmail1">วันที่ออกบัตร</label>
                              <input type="text"  class="form-control"  [(ngModel)]="txtRegCardDT" name="txtRegCardDT" aria-describedby="emailHelp" placeholder="">
                          </div>                                    
                      </div>
                  </div>
                  <div class="row" >
                    <div class="col-md-6"  >
                      <div class="form-group">
                          <label for="exampleInputEmail1">วันที่บัตรหมดอายุ</label>
                          <input type="text"  class="form-control"  [(ngModel)]="txtCardExp" name="txtCardExp" aria-describedby="emailHelp" placeholder="">
                      </div>                                    
                  </div>
                    <div class="col-md-6"  >
                        <div class="form-group">
                            <label for="exampleInputEmail1">สถานะ</label>
                
                            <select class="form-control" [(ngModel)]="selectComjStatus" name="selectComjStatus" id="searchComjDivnId" 
                            #localComjStatus="ngModel" 
                            [ngClass] = "{'is-invalid' : localComjStatus.errors && localComjStatus.touched}"
                            pattern="[^0]+"
                            >
                              <option [value]="0">กรุณาเลือก</option>
                              <option [value]="1">ใช้งาน</option>
                              <option [value]="2">ไม่ใช้งาน</option>
                            </select>
                            <div class="invalid-feedback">โปรดระบุสถานะ</div>
                          </div>                                    
                    </div>
                </div>
                <div class="row" >
                  <div class="col-md-6"  >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text"  class="form-control"  [(ngModel)]="txtComjUsername" name="txtComjUsername" aria-describedby="emailHelp" placeholder=""
                        #localComjUsername="ngModel" 
                        [ngClass] = "{'is-invalid' : localComjUsername.errors && localComjUsername.touched}"
                        required
                        >
                        <div class="invalid-feedback">โปรดระบุชื่อผู้ใช้งาน</div>     
                    </div>                          
                </div>
                  <div class="col-md-6"  >
                      <div class="form-group">
                      </div>                                    
                  </div>
              </div>
              <div class="row" >
                <div class="col-md-6"  >
                  <div class="form-group">
                      <label for="exampleInputEmail1">Password</label>
                      <input type="password"  class="form-control"  [(ngModel)]="txtComjPassword" name="txtComjPassword" 
                        #localComjPassword="ngModel" 
                        [ngClass] = "{'is-invalid' : (localComjPassword.errors && localComjPassword.touched && this.mode == 'new') }"
                        required
                      >
                      <div class="invalid-feedback">โปรดระบุรหัสผ่าน</div> 
                  </div>                                    
              </div>
                <div class="col-md-6"  >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Re-Password</label>
                        <input type="password"  class="form-control"  [(ngModel)]="txtComjRePassword" name="txtComjRePassword" 
                        #localComjRePassword="ngModel" 
                        [ngClass] = "{'is-invalid' : (localComjRePassword.errors && localComjRePassword.touched && this.mode == 'new') || ((this.txtComjPassword != this.txtComjRePassword && this.txtComjRePassword != '') ) }"
                        required
                        >
                        <div class="invalid-feedback">โปรดระบุรหัสผ่านให้ตรงกัน</div> 
                    </div>                                    
                </div>
            </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" [disabled]="!formComj.form.valid" class="btn btn-primary">Save changes</button>
      </div>
 </form>
    </div>
  </div>
</div>